	<div class="panel panel-info">
		<div class="panel-heading">
			<h5><strong>v.0.0.2 - 02/15/2014</strong></h5>
		</div>
		<div class="panel-body">
			<p><strong>Things Added:</strong></p>
			<ul>
				<li><%= link_to 'RoadMap', roadmap_path %></li>
				<li><%= link_to 'Change Log', change_log_path %></li>
				<li>Added Terms controller to enable handling of our Terms and Policy pages</li>
				<li>More style changes, coming closer to finializing most page layouts</li>
				<li>More content written on Road Map</li>
			</ul>
		</div>	
	</div>


	<div class="panel panel-info">
		<div class="panel-heading">
			<h5><strong>v.0.0.1 - 02/13/2014</strong></h5>
		</div>
		<div class="panel-body">
			<p><strong>Things Added:</strong></p>
			<ul>
				<li>Created Project</li>
				<li>Added Static Pages to Site</li>
				<li>Most Site Styles are done, Thanks Bootstrap!</li>
				<li>Bootstrap Gems/Stylesheets</li>
				<li>Added Manual Change Log (Logging isn't automatic, requires manual input)</li>
				<li>Installed Devise for User Accounts</li>
			</ul>
		</div>	
	</div>
