

<div class="well">
	<div class="page-header">
		<h1>Welcome to KingVideo!</h1>
	</div>
	<p>This page will be full of video thumbnails or some shit to represent a video... eventually.</p>
		<div class="alert alert-warning">
			<p>KingVideo is still under construction and the site may not work properly!</p>
		</div>


<!---
	<table class="table table-bordered table-striped">
		<tr>
			<td><strong>Date</strong></td>
			<td><strong>Map Download</strong></td>
		<tr class="success">
			<td>11/26/2013</td>
			<td><%= link_to 'Latest Map Download', 'http://maps.athensmc.com/backups/20131126-21-24surv.tar.gz' %></td>
		</tr>
		<tr>
			<td>11/16/2013</td>
			<td><%= link_to 'Download', 'http://maps.athensmc.com/backups/20131116-15-50surv.tar.gz' %></td>
		</tr>
		<tr>
			<td>10/13/2013</td>
			<td><%= link_to 'Download', 'http://maps.athensmc.com/backups/101313-00-50survival.tar.gz' %></td>
		</tr>
	</table>
	--->
</div>