<div class="well">
	<div class="page-header">
		<h1>Road Map</h1>
	</div>

			<p>This page outlines the roadmap and goals of this project. Some of things things on the page may not get finished or implemented immediately but it will serve as documentation for future plans or thoughts on items.</p>
	<div class="row">
		<div class="col-md-4">
			<div class="well well-sm">
				<ul class="nav nav-pills nav-stacked">
		  			<li class="active"><a href="#intro">Introduction</a></li>
		   			<li><a href="#watching">Watching Videos</a></li>
		   			<li><a href="#uploading">Uploading Videos</a></li>
		  			<li><a href="#">Sharing</a></li>
		  			<li><a href="#">Discussing</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-8">
			<h2>Introduction</h2>
			<p>I've started working on what I'm calling 'KingVideo' while in development because of my frustrations with YouTube and how they deal with content creators. Orignally I wished to create a site where myself and a few friends could upload videos and share them with everyone (from my own server) but after learning of the technical requirements of a project that scale I decided to refine my goals into something more managable and possible with my low budget.</p> 

			<p>One of my goals is to create a site that is as distraction free as possible so that the viewers can watch the content without anything else getting in the way, no ads, no suggested videos that you're not interested in on the side and so forth.</p>

			<p>For more information on the goals and plans please keep reading</p>
		</div>
		
	</div>

	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-8">
			<h2>Watching</h2>
			<p>Watching videos is clearly the primary goal of the project. I wanted a way to share MY videos with my viewers away from YouTube and still be able to package it into a clean format that is less derpy than PlayLists. </p> 
			<p>I've also decided for this project I want a number of features to be possible, such as password protected videos. In addition I also would like to do more with the "private" video feature there is on YouTube though I'm not sure how or what that'll be yet. </p>
			<p>I would love to do my own custom player for videos that will eventually be hosted from my own service, but for now the videos will be embedded from guess who? YouTube and played from their servers.</p>
		</div>	
	</div>	
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-8">
			<h2>Uploading</h2>
			<p>One of the goals was to break the dependency from YouTube however bandwidth is still expensive and transferring large amounts of data does not come cheap. So the costs to provide my own videos to viewers is sadly too-high for me to handle. Due to this I've shifted my focus to creating the site/features around the videos but still allow me to host the video elsewhere (or on my own servers in the future). </p>

			<p>What this means is, I won't worry about the behind the scenes part of making the videos ready for viewers (often called encoding or processing of videos). I'll let YouTube handle it until I figure out a way to make my own servers able to handle it. </p>

			<p>So when the site is ready, the 'uploading' will be something I plug a YT video link into and it'll set it up into a REALLY nice format for everyone </p>
		</div>	
	</div>
</div>