<div class="well">
	<div class="page-header">
		<h1>Terms and Policies</h1>
		</div>
	<div class="row">
		<div class="col-md-4">

			<div class="well well-sm">
				<ul class="nav nav-pills nav-stacked">
					<li class="active"><%= link_to 'Terms Home', terms_path %></li>
		  			<li><%= link_to 'Acceptable Use Policy', aup_path %></li>
		  			<li><%= link_to 'Privacy', privacy_path %></li>
				</ul>
			</div>
		</div>
		<div class="col-md-8">
			<p>I hate terms and policies on sites.. shame I have to come up with some for this</p> 
		</div>
		
	  </div>
</div>